.container {
    background-color: white;
    width: fit-content;
    padding: 12px;
    border: 4px solid rgba(136, 198, 218, .6);
    border-radius: 12px;
    max-width: 100vw;
}
.nav {
    display: flex;
    justify-content: space-between;
}
.userSelectNone {
    user-select: none;
}